$primary: #0d1b2a;
$secondary: #ede0d4;
$success: #e6ccb2;
$info: #ddb892;
$warning: #b08968;
$danger: #354f52;


$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  150: $spacer * 8,
  160: $spacer * 10,
  170: $spacer * 11,
  260: $spacer * 17,

);
$carousel-indicator-active-bg: $danger;
$carousel-control-color: black;
$nav-tabs-link-active-bg: white;
$nav-link-color: $danger;
$nav-tabs-link-active-color: $danger;
$nav-tabs-link-active-border-color: $warning;
$nav-link-hover-color: $danger;
$nav-tabs-link-hover-bg: white;

//accordion 

$accordion-button-icon: url("../Assets/plus-minus/Icon\ Plus.svg");
$accordion-button-active-icon: url("../Assets/plus-minus/Icon\ Minus.svg");